.headerBar{
  display: flex;
  justify-content: center;

}

.option{
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: antiquewhite;
}

p{
  display: flex;
  justify-content: center;
}
