.board{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(10, auto);
    max-width: fit-content;
    grid-row-gap: 0;
}

.unclicked{
    background-color: rgb(193, 191, 191);
    border: thick solid gray;
    border-style: outset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked{
    background-color: rgb(255, 255, 255);
    border: thick solid gray;
    border-style: inset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.one{
    color:blue;
}

.two{
    color: green;
}

.three {
    color: red;
}

.four {
    color: purple;
}

